<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Exceptions Tests Suite" verbose="1">

	<test name="Exceptions Test">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="dmitry.NoSuchElementException">
				<methods>
					<include name="noSuchElementTest"></include>
				</methods>
			</class>
		</classes>
	</test>

</suite>