<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="demo.Elementpractice"/>
      <class name="demo.loginTest_normal"/>
      <class name="demo.loginTest_xls"/>
      <class name="demo.loginTest_xlsx"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
